@model ProductCreateViewModel

<section  style="width:20vw;">
    <form class="d-flex flex-column" style="gap:1vh" asp-controller="Product" asp-action="Create">
   
        <section class="d-flex justify-content-between">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" />
            <span style="color:red;" asp-validation-for="Product.Name"></span>
        </section>
        <section class="d-flex justify-content-between">
            <label asp-for="Product.Description"></label>
            <input asp-for="Product.Description" />
            <span style="color:red;" asp-validation-for="Product.Description"></span>
        </section>
        <section class="d-flex justify-content-between">
            <label asp-for="Product.Discount"></label>
            <input asp-for="Product.Discount"/>
            <span style="color:red;" asp-validation-for="Product.Discount"></span>
        </section>
        <section class="d-flex justify-content-between">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price"/>
            <span style="color:red;" asp-validation-for="Product.Price"></span>
        </section>
        <section class="d-flex justify-content-between">
            <label asp-for="Product.ImageLink"></label>
            <input asp-for="Product.ImageLink" />
            <span style="color:red;" asp-validation-for="Product.ImageLink"></span>
        </section>
        <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>
</section>

